<div class="container login-container" style="width:35%">
    <form name="loginForm" [formGroup]="userForm" (ngSubmit)="login()">
      <div class="imgcontainer">
      </div>

      <div class="container-fluid">
        <label><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" formControlName="username" required>

        <label><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" formControlName="password" required>
            
        <button type="submit">Login</button>
        <input type="checkbox" checked="checked"> Remember me
      </div>

      <div class="container" style="background-color:#f1f1f1;width:100%">
        <button type="button" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
      </div>
    </form>
</div>