.table > thead > tr > th, .table > tbody > tr > td{
    text-align: center;
}
.pie-chart{
    text-align: center;
    margin-top: 12px;
}
.donut-text{
    fill: #6B6B6B;
	font-size: 13px;
}
.pie-table{
    width: 70%;
    margin: 0 auto;
    box-shadow: 1px 1px 1px 1px #d6d3f1;
}