.comment-card{
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #eee;
}
.login-header,.login-footer{
    background-color: #ccc;
    height: 150px;
}
.login-body{
    height: 450px;
    position: relative;
}
.login-content{
    position: absolute;
    z-index: 300;
    left: 51%;
    top: -4%;
    background-color: #eee;
    height: 480px;
    width: 48%;
}