<!-- <div *ngIf="reportDetails">
    <div class="panel panel-primary comment-card" *ngFor="let comment of reportDetails.comments">
    <div class="panel-heading">Queries</div>
    <div class="panel-body">
        <div>
            <strong>{{ comment.commentText }}</strong>
        </div>
        <md-card>
            <md-card-content>
                <div *ngFor="let response of comment.responses">
                    {{response.responseText}}
                </div> 
            </md-card-content>
            </md-card>
            <div>
                <button md-button color="primary">Add Coment</button>
            </div>
    </div>
    </div>
    <button pButton type="button" label="Click"></button>
</div> -->